# Unity specific
Temp/
/GameDesignTifa/Library/

# OS-specific files
.DS_Store
Thumbs.db

# Visual Studio temporary files
.vs/
*.user
*.userprefs
*.suo
*.sln.cache
*.suo
*.csproj.user
*.pidb

# Other temporary files
*.tmp
